#!/usr/bin/make -f
%:
	dh  $@ --buildsystem=autoconf --with autoreconf

UPSTREAM_URL ?=$(shell uscan --dehs | sed -n 's/.*<upstream-url>\(.*\)<\/upstream-url>.*/\1/p')
UPSTREAM_VERSION ?=$(shell echo $(UPSTREAM_URL)| sed 's/.*\/\(.*\)\.tar\.gz/\1/')
DEBIAN_VERSION ?=$(shell uscan --dehs | sed -n 's/.*<upstream-version>\(.*\)<\/upstream-version>.*/\1/p')
TAR_NAME ?=libharu-$(UPSTREAM_VERSION).tar

get-orig-source:
	uscan --verbose --force-download --repack --compression xz
